body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.greentext {
  color: #00AB44;
}

.whitetext {
  color: #fff;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.ancillary {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

.school {
  margin-bottom: 16px;
}

.experience {
  margin-bottom: 24px;
}

footer {
  display: flex;
  justify-content: center;
}