body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.greentext {
  color: #00AB44;
}

.whitetext {
  color: #fff;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.ancillary {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

.school {
  margin-bottom: 16px;
}

.experience {
  margin-bottom: 24px;
}

footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  .introductorysection {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 24px auto 40px auto;

  }

  .namerolecomponent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .socialmediacomponent {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .experienceeducationcomponent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 56px auto 48px auto;
  }

  .experiencecomponent {
    width: 60%;

  }

  .educationcomponent {
    width: 60%;
  }

}